.app {
  display: flex;
  flex-wrap: wrap;
  width: 950px;
  /* border:1px solid red; */
  justify-content: center;
  align-items: center;
  margin:0 auto;
}

.movies {
  /* border:2px solid green; */
  display:flex;
  width: 100%;

  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: center;
  padding-left: 25px;
  /* margin-left: 40px; */
 
}

.movie {
  margin: 0 30px 10px 0;
  list-style-type: none;
  display: inline-block;
  width: 200px;
  /* border:1px solid blue; */
  background: rgb(230, 233, 227);
  /* padding-left: 5px; */
  box-shadow: 0 0 10px rgb(103, 156, 170);
}

.details {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

img{
  width: 100%;
}
.head{
  width: 100%;
  /* border:1px solid red; */
  margin:20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 173, 173);
  padding-top:10px;
  padding-bottom:10px;

}
/* .modal{
  border:1px solid red;
  width: 200px;
  height: 200px;
  background:white;
  z-index: 1;
} */
.movies:hover{
  cursor: pointer;
}
.history{
  /* border:1px solid red; */
  /* width: 150px; */
  display:flex;
  /* border:10px solid red; */
  margin:0 10px;
  padding:5px;
  box-shadow: 0 0 10px rgb(209, 191, 194);
  border-radius: 10px;
}
.image{
  /* display:flex; */
  /* margin-left:10px; */
  width: 140px;
  margin:0 auto;
  /* border:1px solid red; */
  
}
.internal-img{
  /* border:1px solid red; */
  width: 90px;
  margin-left:45px;
  padding:5px;
}
 .pop{
  margin-left:10px;
  margin-bottom: 5px;
}
.image img{
  border-radius: 10px;
  margin-bottom: 10px;
}